@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
    <body>
        <div>
            <h1>Bienvenido @global_asax.NombreUsuario.ToUpper()</h1>

                    @using (Html.BeginForm("LogOff", "Cuenta", FormMethod.Post, new { id = "logoutForm" })) {
                                        @Html.AntiForgeryToken()
                    <a href="javascript:document.getElementById('logoutForm').submit()">Salir</a>
                    }

        </div>
    </body>
</html>
